# Node modules
node_modules

# Build outputs
.next
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Temporary files
*.swp
*~
.project
.idea/

# MacOS
.DS_Store
