.container {
  max-width: 720px;
  width: 100%;

  margin: 0 auto;
  padding-inline: 32px;
}

.containerFormWrapper {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;  
}

.containerFormWrapper input,
.containerFormWrapper button {
  transform: translateY(-50%);

  margin-bottom: 2.3125rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksList > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}