:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00B37E;
  --green-500: #00875f;

  --red-500: #F75A68;

  --toastify-text-color-dark: var(--gray-100);
  --toastify-color-dark: var(--gray-900);
  --toastify-color-success: var(--green-300);
  --toastify-color-warning: var(--red-500);
  --toastify-color-error: var(--red-500);

  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-text-color-info: var(--gray-100);
  --toastify-text-color-success: var(--gray-100);
  --toastify-text-color-warning: var(--gray-100);
  --toastify-text-color-error: var(--gray-100);

  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

:focus {
  outline: transparent;
  transition: .3s all;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  color: var(--gray-100);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}